@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Redressed&display=swap');

/* Header */

#main-header {
  background: url("../images/background-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

h1 {
  font-family: "Exo", sans-serif;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 10px;
}

h1 a {
  text-decoration: none;
  color: #fafafa;
}

h2 {
  font-family: "Exo", sans-serif;
  font-weight: 600;
  color: #fafafa;
  margin-bottom: 25px;
}